.header {
    grid-area: h;

    background-color: aqua;
}

.header img {
    width: 30px;

    margin: 15px;
}

.login {
    float: right;
    margin: 18px;
}

.login a {
    text-decoration: none;
}
